* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(92, 124, 196);
}

.inputBusqueda{
    margin-top: 2rem;
    text-align: center;
    position:relative;
	margin-bottom:25px;
}
/*
.inputBusqueda label{
	position:absolute;
    text-align: center;
	top:0px;
	left:37%;
	font-size:20px;
	color:rgb(0, 0, 0);	
    pointer-events:none;
	transition: all 0.5s ease-in-out;
}

.inputBusqueda input {
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:20%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:rgb(0, 0, 0);
}

.inputBusqueda input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #e74c3c;	
   }

.inputBusqueda input:focus ~ label,
.inputBusqueda input:valid ~ label{
    top:-12px;
    font-size:12px;
} */

.contenedor {
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: #e74c3c solid 6px;
    border-radius: 10px;
    background-color: rgb(250, 245, 245);
}

.bandera {
    justify-content: center;
    margin-top: 10px;
    /* width: 30%; */
}

#pais {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

.titulo {
    margin: 15px 0;
    justify-content: center;
}

.titulo h3 {
    text-transform: uppercase;
}

#pais h4 {
    text-transform: uppercase;
    color: red;
}

#pais img {
    max-width: 40%;
    height: auto;
}

#datosPaisClima {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 50px; */
    justify-content: center;
}

#datos {
    left: 10%;
    /* display: grid; */
    /* grid-template-rows: auto; */
    border: #e74c3c solid 6px;
    border-radius: 10px;
    width: 70%;
    /* margin-left: 50%; */
    /* justify-content: flex-end; */
    /* background-color: rgb(250, 245, 245); */
}

#datos p {
    margin: 0 0 15px 0;
}

#clima {
    /* display: grid;
    grid-template-rows: auto; */
    border: #e74c3c solid 6px;
    /* width: 80%; */
    border-radius: 10px;
    /* background-color: rgb(250, 245, 245); */
}

#clima p {
    margin: 0 0 15px 0;
}

#clima span img{
    margin-left: 50px;
    max-width: 100%;
    height: auto;
}

#temperatura span {
    padding-bottom: 15px;
}

.centrarBotones {
    display: flex;
}

.alinear {
    display: flex;
}

.alinear span {
    padding-bottom: 15px;
}


.boton {
    position: relative;
    cursor: pointer;
    top: 0;
    height: 20px;
    margin-left: 10px;
}