* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}

.inputBusqueda{
    margin-top: 2rem;
    text-align: center;
    position:relative;
	margin-bottom:25px;
}
/* 
.inputBusqueda label{
	position:absolute;
    text-align: center;
	top:0px;
	left:37%;
	font-size:20px;
	color:rgb(0, 0, 0);	
    pointer-events:none;
	transition: all 0.5s ease-in-out;
}

.inputBusqueda input {
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:20%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:rgb(0, 0, 0);
}

.inputBusqueda input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #e74c3c;	
   }

.inputBusqueda input:focus ~ label,
.inputBusqueda input:valid ~ label{
    top:-12px;
    font-size:12px;
} */

.contenedor {
    position: absolute;
    width: 80%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.bandera {
    justify-content: center;
    margin-top: 20px;
    width: 30%;
}

#bandera {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2rem;
}

#datosPaisClima {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    justify-content: center;
}

#datos {
    display: grid;
    grid-template-rows: auto;
    /* border: #e74c3c solid 6px; */
    border-radius: 10px;
    justify-content: flex-end;
}

#datos p {
    margin: 0 0 15px 0;
}

#clima {
    display: grid;
    grid-template-rows: auto;
    /* border: #e74c3c solid 6px; */
    border-radius: 10px;
}

#clima p {
    margin: 0 0 15px 0;
}

.centrarBotones {
    display: flex;
}

.alinear {
    display: flex;
}

.boton {
    position: relative;
    cursor: pointer;
    top: 0;
    height: 20px;
    margin-left: 10px;
}